<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="lay.css"></link>
</head>
<body>
    <main>
        <ul>
            <img src="imagenes/image.png">
            <li class="block1">DEVCLOUD SOLUTIONS</li>
            <li>Главная</li>
            <li>Услуги</li>
            <li>Как мы работаем</li>
            <li>Портфолио</li>
            <li>О нас</li>
            <li>Контакты</li>
        </ul>
        <conteiner>
            <h1 style="text-transform: uppercase;">Компания по разработке программного обеспечения</h1>

            <p>Запросить консультацию</p>
            
        </conteiner>
    </main>
</body>
</html>