<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="lay.css"></link>
</head>
<body>
    <main>
        <ul>
            <img src="https://img.icons8.com/?size=100&id=Gh1lk1ymr2VD&format=png&color=111111">
            <li class="block1">DEVCLOUD SOLUTIONS</li>
            <li>Главная</li>
            <li>Услуги</li>
            <li>Как мы работаем</li>
            <li>Портфолио</li>
            <li>О нас</li>
            <li>Контакты</li>
        </ul>
        <div class="cont">
            <div>
                <h1 style="text-transform: uppercase;">Компания по разработке<br>программного обеспечения</h1>
                <div class="bor">
                    <p>Запросить консультацию</p>
                </div>
                <img style="height: 89px;" src="https://img.icons8.com/?size=100&id=41189&format=png&color=000000">
            </div>
        </div>
    </main>
</body>
</html>