<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="lay.css"></link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <ul>
            <img src="https://img.icons8.com/?size=100&id=Gh1lk1ymr2VD&format=png&color=111111">
            <li class="li_block">DEVCLOUD SOLUTIONS</li>
            <li>Главная</li>
            <li>Услуги</li>
            <li>Как мы работаем</li>
            <li>Портфолио</li>
            <li>О нас</li>
            <li>Контакты</li>
        </ul>
        <div class="cont">
            <div>
                <h1 style="text-transform: uppercase;">Компания по разработке<br>программного обеспечения</h1>
                <div class="bor">
                    <p>Запросить консультацию</p>
                </div>
                <img style="height: 89px;" src="https://img.icons8.com/?size=100&id=41189&format=png&color=ffffff">
            </div>
        </div>
    </main>
    
    <div class="common">
        <ul>
            <li><h5>98%</h5> завершённых проектов успешно</li>
            <li><h5>30</h5> календарных дней до первого релиза</li>
            <li><h5>5+</h5> дней от идеи до готовой концепции</li>
            <li><h5>+20%</h5> к эффективности бизнеса</li>
        </ul> 
        
    </div>

    <div class="second">
        <div class="block1"><img src="https://ucarecdn.com/83398f66-832a-4a52-9930-0549e372be61/"></div>
        <div class="block2">
            <div class="block3">
                <img src="https://img.icons8.com/?size=100&id=61893&format=png&color=cccccc">
                <p>Гарантируем качество и<br>выполнение в сроки</p>
                <img src="https://img.icons8.com/?size=100&id=61893&format=png&color=cccccc">
            </div>
            <div class="block4">
                <p>Мы просто умеем разрабатывать то, что нужно.<br>Запросить консультацию!</p>
            </div>
            <div class="bor">
                <p>Запросить консультацию</p>
            </div>
            <div class="block5">
                <p>С 2010 года профессонально разрабатываем умпеные мобильные и веб-решения,<br>
                индивидуальные прогаммные решения, информационные системы и ПО для бизнеса,<br>
                которые повышают эффективность бизнеса.</p>
            </div>
        </div>
    </div>

    <h4 class="title_name">Основные услуги</h4>

    <div class="third">
        <div class="block_common_1">

            <h4>Разработка рпограммного обеспечения</h4>

            </p>Уже более 10 лет мы освоили лучшие веб-технологии 
            для реализации проектов, в которые вложены инвестиции. Надежный лидер рынка 
            в разработке высокопроизводительных веб-интерфейсов для любого бизнеса.</p>

        </div>
        <div class="block_common_2"></div>
        <div class="block_common_3"></div>
    </div>
</body>
</html>