* {
    font-family: "Open Sans", sans-serif;
}
main {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url(https://ucarecdn.com/761233c4-7224-418d-b151-ea7bc1196250/);
    margin-bottom: 6vh;
    color: white;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    height: 13vh;
    line-height: 5em;
    background-color: rgba(255,255,255,0.3);
}





li {
    display: inline;
}

.li_block {
    font-weight: bold;
    flex-basis: 350px;
}

ul > img {
    height: 51px;
    padding-top: 1em;
}

.cont {
    
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

div {
    display: grid;
    justify-content: center;
    place-items: center;
}

div > h1 {
    text-align: center;
}

.bor {
    margin-top: 15vh;
    border: 2px solid white;
    border-radius: 43px;
    height: 8vh;
    width: 22vw;
    position: relative;
}

.bor > p {
    position: absolute;
}

/*Начало условной следующей страницы
замечания по первой:
- запросить не по центру внутри границ
- изменить шрифты, размеры и цвета*/


.common {
    height: 50vh;
    width: 90vw;
    background-size: cover;
    margin: auto;
}

.common > ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    height: 19vh;
    line-height: 4vh;
    background-color: rgba(255,255,255,0.3);

}

.common > ul > li {
    border-right: 3px solid black;
    text-align: center;
    padding-right: 3vw;
    padding-left: 3vw;
    
}

.common > ul > li + li + li + li {
    border-right: none;
    text-align: center;
}

.common > ul > li + li + li {
    text-align: center;
}

h5 {
    font-size: 50px;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

/*Начинаю новый этап*/

.second {
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 50vw 50vw;
    position: relative;
}

.block1 > img {
    width: 45vw;

}

.block2 {
    height: 70vh; 
}

.block3 {
    position: absolute;
    height: 15vh;
    top: 0;
}
.block3 > img:nth-child(1) {
    transform: rotate(180deg);
    height: 50px;
    position: absolute;
    top: 30px;
    right: -55px;
}

.block3 img:not(:first-child) {
    height: 50px;
    position: absolute;
    bottom: -60px;
    right: 520px;
}

.block3 > p {
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
}

.block2 > .bor {
    border: 2px solid black;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 150px;
}

.block4 {
    height: 20vh;
    width: 55vw;
    position: absolute;
    bottom: 200px;
}

.block4 > p:first-child {
    font-size: 18pt;
    text-align: center;
}

.block5 {
    font-size: 10pt;
    color: hsla(0, 0%, 0%, 0.338);
    height: 20vh;
    width: 55vw;
    position: absolute;
    bottom: -50px;
    text-align: center;
}

/*создание страницы основные услуги*/

.title_name {
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}


.third {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
    position: relative;
}