* {
    font-family: "Open Sans", sans-serif;
}
main {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background: rgba(0, 0, 0, 0.5) url(https://ucarecdn.com/761233c4-7224-418d-b151-ea7bc1196250/);
    background-blend-mode: darken;
    background-position:center top;
    margin-bottom: 6vh;
    color: white;
    
}

.cont_1 img {
    margin-top: 40px;
}

.cont_1 img:hover {
    cursor: pointer;
}

.first_page_ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    height: 13vh;
    line-height: 5em;
    background-color: rgba(255,255,255,0.3);
}

li {
    display: inline;
}

.li_block {
    font-weight: bold;
    flex-basis: 350px;
}

.first_page_ul > img {
    height: 51px;
    padding-top: 1em;
}

.cont h1 {
    text-align: center;
}

.cont {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.cont div {
    display: grid;
    justify-content: center;
    place-items: center;
}

.bor {
    margin-top: 15vh;
    border: 2px solid white;
    border-radius: 43px;
    height: 8vh;
    width: 22vw;
    position: relative;
}

.bor:hover {
    border: 2px solid white;
    color: black;
    background-color: white;
}

.bor > p {
    position: absolute;
}


.common {
    display: grid;
    place-items: center;
    height: 50vh;
    width: 90vw;
    background-size: cover;
    margin: auto;
}

.common > ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    height: 19vh;
    line-height: 4vh;
    background-color: rgba(255,255,255,0.3);

}

.common > ul > li {
    border-right: 3px solid black;
    text-align: center;
    padding-right: 3vw;
    padding-left: 3vw;
    
}

.common > ul > li + li + li + li {
    border-right: none;
    text-align: center;
}

.common > ul > li + li + li {
    text-align: center;
}

h5 {
    font-size: 50px;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.second {
    margin-top: 20vh;
    display: grid;
    justify-content: center;
    grid-template-columns: 50vw 50vw;
    position: relative;
}

.block1 > img {
    width: 45vw;
    display: grid;
    justify-content: center;
    place-items: center;
}

.block2 {
    height: 70vh;
    display: grid;
    justify-content: center;
    place-items: center; 
}

.block3 {
    position: absolute;
    height: 15vh;
    top: 0;
    display: grid;
    justify-content: center;
    place-items: center;
}
.block3 > img:nth-child(1) {
    transform: rotate(180deg);
    height: 50px;
    position: absolute;
    top: 30px;
    right: -55px;
    display: grid;
    justify-content: center;
    place-items: center;
}

.block3 img:not(:first-child) {
    height: 50px;
    position: absolute;
    bottom: -60px;
    right: 520px;
}

.block3 > p {
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
}

.block2 > .bor {
    border: 2px solid black;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 150px;
    box-shadow: 1px 1px 4px 1px gray;
}

.block2 > .bor:hover {
    border: 1px solid gray;
    background-color: white;
    color: black;
    position: absolute;
    bottom: 150px;
}

.block4 {
    height: 20vh;
    width: 55vw;
    position: absolute;
    bottom: 200px;
    display: grid;
    justify-content: center;
    place-items: center;
}

.block4 > p:first-child {
    font-size: 18pt;
    text-align: center;
}

.block5 {
    font-size: 10pt;
    color: hsla(0, 0%, 0%, 0.338);
    height: 20vh;
    width: 55vw;
    position: absolute;
    bottom: -50px;
    text-align: center;
    display: grid;
    justify-content: center;
    place-items: center;
}

.block2 .bor {
    display: grid;
    justify-content: center;
    place-items: center;
} 

/*создание страницы основные услуги*/

.title_name {
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}


.third {
    display: grid;
    justify-content: center;
    place-items: center;
    grid-template-columns: 340px 340px 340px;
    grid-template-rows: 600px;
    position: relative;
    gap: 50px;
}

.third div {
    display: grid;
    justify-content: center;
    place-items: center;
}

.third  h4 {
    text-transform: uppercase;
    font-size: 15pt;
    font-weight: normal;
    justify-self: left;
    align-self: normal;
    margin-left: 30px;
    margin-top: -120px;
}

.third > div  {
    width: 300px;
    height: 500px;
    padding: 20px;
    border: 1px ridge grey;
    border-radius: 43px;
    box-shadow: 2px 1px 3px #777;
}


.third  .text_desctription {
    font-size: 10pt;
    justify-self: left;
    align-self: normal;
    margin-left: 30px;
    margin-top: -65px;
}

.service_label {
    width: 0;
    height: 0;
    border-top: 80px solid grey;
    border-right: 80px solid grey;
    border-bottom: 80px solid transparent;
    border-left: 80px solid transparent;
    justify-self: end;
    align-self: start;
    border-radius: 0px 43px 0px 0px;
    margin-right: -20px;
    margin-top: -20px;
}

.card_comp {
    filter: invert(0%);
}

.svg_container {
    margin-right: -65px;
    margin-top: -65px;
}

.search_new > img {
    width: 40px;
}

.search_new {
    display: grid;
    grid-template-rows: 20px;
    grid-template-columns: 70px 120px 70px;
    place-items: center;
}

.search_new:hover *{
    cursor: pointer;
    stroke: #29A28C;
    color: #29A28C;
    filter: invert(60%);
}


/*create our projects*/

.our_projects {
    display: flex;
    flex-wrap: nowrap;
}

.right_hand {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-items: left;
    gap: 62px;
    margin-left: 15px;
}

.right_hand .cent_description {
    max-width: 450px;
}

.our_projects-1 .bor {
    border: 2px solid black;
    background-color: black;
    color: white;
    box-shadow: 1px 1px 4px 1px gray;
    text-align: center;
    align-content: center;
    margin: auto;
    margin-top: 100px;
}

.our_projects-1  .bor:hover {
    border: 1px solid gray;
    background-color: white;
    color: black;
}

/* .right_hand > h1 {
    
} */


/*process of work*/

.our_projects-2 .right_hand {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-items: left;
    gap: 66px;
    margin-left: 15px;
}

/* instrum and technologies */

.inst_icons_1throw {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.inst_icons_2throw {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.oracl_wpf {
    display:flex;
    flex-direction: column;
}






