* {
    font-family: "Open Sans", sans-serif;
}

/* .header_bg {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    aspect-ratio: 16/9;
} */

.centeral_blocks {
    background-image: url(/assets/bg_header.webp);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    min-width: 941px;
    text-align: center;
    color: #fff;
}

.centeral_blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.d1th_block {
    font-size: 3rem;
    font-weight: bold;
}

.d2nd_block {
    font-size: 0.8rem;
}

.bottom_block {
    letter-spacing: 0.5vw;
    font-size: 0.8rem;
}